# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/

# VS Code
.vscode/

# Node modules (if any frontend)
node_modules/
dist
dist-ssr
*.local

# OS files
.DS_Store
Thumbs.db

# Any secret keys
*.pem
*.key
*.pub